h1, #Produtos h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #74009D;
    font-size: 4.25rem;
}

#Pedidos p, .lead, #Produtos{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #212121;
}

.btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.btn-whatsapp{
    background-color: rgb(30, 219, 30);
    border-color: rgba(30, 219, 30, 0.967);
}

.btn-whatsapp:hover{
    background-color: rgb(24, 163, 24);
    border-color: rgb(24, 176, 24);
}

.btn-ifood{
    background-color: #EA1D2C;
    border-color: #de1c29;
}

.btn-ifood:hover{
    background-color: #cc1a25;
    border-color:#a91822;
}

#Nos{
    background-color: #8601B7ff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
}

#Nos h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 3.25rem;
    color: #fff;
}

.btn-sobre, .btn-produtos{
    background-color: #ff6e61;
    border-color: #ff402f;
}

.btn-sobre:hover, .btn-produtos:hover{
    background-color: #ff8d83;
    background-color: #ff402f;
}

#Produtos h2{
    font-size: 3.25rem;
}