#sobre_Nos{
    background-color: #8601B7ff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 4.25rem;
    text-align: center;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #74009D;
    font-size: 4rem;
}

.container-link{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-self: center;
}